aiodns==3.1.1
aiofiles==23.2.1
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aioitertools==0.11.0
aiosignal==1.3.2
annotated-types==0.7.0
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asteval==1.0.6
asttokens==2.2.1
async-timeout==5.0.1
attrs==25.1.0
azure-core==1.28.0
azure-identity==1.13.0
azure-storage-blob==12.17.0
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.0.0
blinker==1.5
boto3==1.36.1
botocore==1.36.1
certifi==2025.11.12
cffi==1.15.1
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.1.3
construct==2.10.68
contourpy==1.3.1
coverage==7.4.4
cryptography==44.0.0
cycler==0.11.0
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
distro==1.9.0
executing==1.2.0
fastapi==0.115.7
fastjsonschema==2.16.3
filelock==3.13.1
Flask==2.2.2
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-SQLAlchemy==3.0.2
Flask-WTF==1.0.1
fonttools==4.55.3
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2024.6.1
greenlet==2.0.1
grpcio==1.76.0
gunicorn==23.0.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httptools==0.6.1
httpx==0.28.1
huggingface-hub==0.36.0
hyperframe==6.1.0
idna==3.11
idna-ssl==1.1.0
imageio==2.37.0
ipykernel==6.22.0
ipython==8.13.2
ipython-genutils==0.2.0
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.6
jiter==0.12.0
jmespath==1.0.1
joblib==1.5.2
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyter_server==2.5.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
kiwisolver==1.4.4
llvmlite==0.42.0
lxml==5.4.0
MarkupSafe==3.0.2
matplotlib==3.10.3
matplotlib-inline==0.1.6
mistune==2.0.5
mpmath==1.3.0
msal==1.23.0
msal-extensions==1.0.0
multidict==6.1.0
nbclassic==1.0.0
nbclient==0.7.4
nbconvert==7.3.1
nbformat==5.8.0
nest-asyncio==1.5.6
networkx==3.3
notebook==6.5.4
notebook_shim==0.2.3
numba==0.59.1
numpy==1.26.0
numpy-quaternion==2023.0.3
nvidia-srl-base==1.3.0
nvidia-srl-math==1.0.0
nvidia-srl-usd==1.0.0
nvidia-srl-usd-to-urdf==1.0.1
nvidia_lula_no_cuda==0.10.1
nvsmi==0.4.2
oauthlib==3.2.2
openai==2.8.1
opencv-python-headless==4.11.0.86
osqp==0.6.5
packaging==23.0
pandocfilters==1.5.0
parso==0.8.3
pickleshare==0.7.5
pillow==11.2.1
Pint==0.20.1
platformdirs==3.5.0
plotly==5.3.1
portalocker==2.7.0
prometheus-client==0.16.0
prompt-toolkit==3.0.38
propcache==0.2.1
protobuf==6.33.1
psutil==5.9.8
pure-eval==0.2.2
pycares==4.8.0
pycparser==2.21
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.15.1
pyparsing==3.0.9
pyperclip==1.8.0
pypng==0.20220715.0
pyrsistent==0.19.3
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-json-logger==2.0.7
python-multipart==0.0.20
pytz==2024.1
pywin32==306
pywinpty==2.0.10
PyYAML==6.0.2
pyzmq==25.0.2
qdldl==0.1.7.post1
qdrant-client==1.16.1
qrcode==7.4.2
qtconsole==5.4.2
QtPy==2.3.1
regex==2025.11.3
requests==2.32.3
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
Rtree==1.3.0
s3transfer==0.6.1
safetensors==0.7.0
scikit-learn==1.7.2
scipy==1.15.3
selenium==4.14.0
Send2Trash==1.8.2
sentence-transformers==5.1.2
sentry-sdk==2.29.1
setuptools-scm==8.2.0
six==1.17.0
sniffio==1.3.0
soupsieve==2.4.1
SQLAlchemy==1.4.43
stack-data==0.6.2
starlette==0.45.3
sympy==1.13.3
terminado==0.17.1
threadpoolctl==3.6.0
tinycss2==1.2.1
tokenizers==0.22.1
toml==0.10.2
torch==2.7.0+cu128
torchaudio==2.7.0+cu128
torchvision==0.22.0+cu128
tornado==6.5
tqdm==4.67.1
traitlets==5.9.0
transformers==4.57.3
trimesh==4.5.1
typing-inspection==0.4.2
typing_extensions==4.15.0
uri-template==1.2.0
urllib3==2.4.0
uvicorn==0.29.0
watchdog==4.0.0
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.5.1
websockets==12.0
Werkzeug==2.2.2
wrapt==1.16.0
WTForms==3.0.1
yarl==1.18.3
